// @use "../vars";
// @use "../mixins";

.hero {
    // .hero__slider
    @include adaptiveValue("padding-top", 120, 90, 1245, 320, 1);
    @media (max-width:$mobile) {
            padding-bottom: 20px;
        }
    &__swiper {
        // для другого варіанту
        @media (max-width:$mobile){
             margin-bottom: 20px; 
        }
    }
    &__footer {
        text-align: center;
        @media (min-width:$mobile) {
            display: none;
        }
    }
}


// для другого варіанту
.swiper {
}

.swiper-wrapper {
    padding-bottom: 15px;
    @media (min-width:$mobile){
        align-items: center;
        padding-bottom: 40px;
    }
}

.swiper-pagination {
   bottom: 0!important;
}

.slide {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
    @media (min-width:$mobile){
    justify-content: space-between;
    flex-direction: row;
    column-gap: 30px;
    }

    // .slide__content

    &__content {
        text-align: center;
        @media (min-width:$mobile) {
            flex: 0 1 650px;
            text-align: left;
        }
    }

    // .slide__title

    &__title {
        font-family: $montserrat-font;
        font-weight: 700;
        @include adaptiveValue("font-size",60,25 );
        color: $dark-color;
        line-height: 115%;
        margin-bottom: em(25,60);
    }

    // .slide__text

    &__text {
        font-size: rem(20);
        line-height: 160%;
        margin-bottom: em(40, 20);
        @include adaptiveValue("margin-bottom",40,20, 1245,768,1);
        @media (min-width:$mobile){
            max-width: 500px;
        }
    }

    // .slide__button

    &__button {
        font-size: rem(20);
        padding: 18px 22px;
        color: $white-color;
        background-color: $accent-color;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 215px;
        margin-bottom: 15px;
        @include transition(background-color);
        @media (any-hover: hover){
            &:hover{
                background-color: $hover-color;
            }
        }
    }

    // .slide__footer
    
    &__footer {
        @media (max-width:$mobile){
             display: none; 
        }
    }


    // .slide__note

    &__note {}

    // .slide__link

    &__link {
    }

    // .slide__image
    
    &__image {
        @include ibg(bottom);
        flex: 1 1 300px;
        width: 100%;
        img {
            object-fit: contain;
        }
        @media (min-width:$mobile) {
                flex: 1 1 400px;
                padding: 0px 0px 40% 0px;
                img {
                        object-position: center;
                    }
            }
    }
}