.register {
    @include adaptiveValue("padding-top", 120, 90, 1245, 320, 1);
    // .register__container

    &__container {}

    // .register__title
    
    &__title {
        margin-bottom: em(25, 35);
    }

    // .register__form

    &__form {
        // border: 1px solid red;
        max-width: 400px;
        margin: 0 auto;
    }
}

