<div class="auth">
  <div class="auth__container">
    <div class="auth-content">
      <div class="auth-content__description">
        <div class="auth-content__label">Log in</div>
        <div class="auth-content__title">Welcome Back</div>
        <div class="auth-content__link">
          New User?
          <a class="auth-link" href="./page-3.html">Sign up</a>
        </div>
      </div>
      <div class="auth-content__form">
        <form class="form">
          <div class="form__items">
            <div class="form__item">
              <input
                class="form__input input"
                name="email"
                type="email"
                placeholder="Email"
                maxlength="100"
                required />
            </div>
            <div class="form__item">
              <input
                class="form__input input"
                name="password"
                type="password"
                placeholder="Password"
                maxlength="50"
                required />
              <div class="form__label">
                <a class="form__label-link" href="">Forgot your password?</a>
              </div>
            </div>
          </div>
          <div class="form__footer">
            <button class="form__btn button">Get started</button>
            <div class="form__var">or</div>
            <button class="google-auth-btn button">
              <img
                class="google-auth-btn__svg"
                src="/icons/google.svg"
                alt="Google" />Continue with Google
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
