<div class="hero">
  <div class="hero__container">
    <div>
      <div class="hero__swiper">
        <div>
          <div class="slide">
            <div class="slide__content">
              <h2 class="slide__title">
                Keep track of your pet's medical records
              </h2>
              <p class="slide__text">
                Keep your pet's vaccines, deworming, and microchip in one place
              </p>
              <div class="slide__footer">
                <a href="./page-3.html" class="slide__button">Get started</a>
                <div class="slide__note">
                  Already signed up?
                  <a href="./page-2.html" class="slide__link">Log in</a>
                </div>
              </div>
            </div>
            <div class="slide__image">
              <img src="img/girl.png" alt="girl" />
            </div>
          </div>
        </div>
        <div>
          <div class="slide">
            <div class="slide__content">
              <h2 class="slide__title">Stay on top of vaccine schedules</h2>
              <p class="slide__text">
                Use smart reminders to stay on top of that next Rabies shot
              </p>
              <div class="slide__footer">
                <a href="./page-3.html" class="slide__button">Get started</a>
                <div class="slide__note">
                  Already signed up?
                  <a href="./page-2.html" class="slide__link">Log in</a>
                </div>
              </div>
            </div>
            <div class="slide__image">
              <img src="img/vet.png" alt="vet" />
            </div>
          </div>
        </div>
        <div>
          <div class="slide">
            <div class="slide__content">
              <h2 class="slide__title">Share with caretakers</h2>
              <p class="slide__text">
                Choose what's important and share it with vets, sitters, and
                groomers.
              </p>
              <div class="slide__footer">
                <a href="./page-3.html" class="slide__button">Get started</a>
                <div class="slide__note">
                  Already signed up?
                  <a href="./page-2.html" class="slide__link">Log in</a>
                </div>
              </div>
            </div>
            <div class="slide__image">
              <img src="img/grooming.png" alt="dog" />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- <div class="hero__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide__content">
              <h2 class="slide__title">
                Keep track of your pet's medical records
              </h2>
              <p class="slide__text">
                Keep your pet's vaccines, deworming, and microchip in one place
              </p>
              <div class="slide__footer">
                <a href="./page-3.html" class="slide__button">Get started</a>
                <div class="slide__note">
                  Already signed up?
                  <a href="./page-2.html" class="slide__link">Log in</a>
                </div>
              </div>
            </div>
            <div class="slide__image">
              <img src="img/girl.png" alt="girl" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide__content">
              <h2 class="slide__title">Stay on top of vaccine schedules</h2>
              <p class="slide__text">
                Use smart reminders to stay on top of that next Rabies shot
              </p>
              <div class="slide__footer">
                <a href="./page-3.html" class="slide__button">Get started</a>
                <div class="slide__note">
                  Already signed up?
                  <a href="./page-2.html" class="slide__link">Log in</a>
                </div>
              </div>
            </div>
            <div class="slide__image">
              <img src="img/vet.png" alt="vet" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide__content">
              <h2 class="slide__title">Share with caretakers</h2>
              <p class="slide__text">
                Choose what's important and share it with vets, sitters, and
                groomers.
              </p>
              <div class="slide__footer">
                <a href="./page-3.html" class="slide__button">Get started</a>
                <div class="slide__note">
                  Already signed up?
                  <a href="./page-2.html" class="slide__link">Log in</a>
                </div>
              </div>
            </div>
            <div class="slide__image">
              <img src="img/grooming.png" alt="dog" />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div> -->
    <div class="hero__footer">
      <a href="./page-3.html" class="slide__button">Get started</a>
      <div class="slide__note">
        Already signed up?
        <a href="./page-2.html" class="slide__link">Log in</a>
      </div>
    </div>
  </div>
</div>
