<div class="register">
  <div class="register__container">
    <div class="auth-content">
      <div class="auth-content__description">
        <div class="auth-content__label">Start for free</div>
        <div class="auth-content__title">Create new account</div>
        <div class="auth-content__link">
          Already signed up?
          <a class="auth-link" href="./page-2.html">Log in</a>
        </div>
      </div>
      <div class="auth-content__form">
        <form class="form">
          <div class="form__items">
            <div class="form__item">
              <input
                class="form__input input"
                name="user"
                type="text"
                placeholder="Name"
                maxlength="30"
                required />
              <span class="form__label">0/30</span>
            </div>
            <div class="form__item">
              <input
                class="form__input input"
                name="email"
                type="email"
                placeholder="Email"
                maxlength="100"
                required />
              <span class="form__label">0/100</span>
            </div>
            <div class="form__item">
              <input
                class="form__input input"
                name="password"
                type="password"
                placeholder="Password"
                maxlength="50"
                required />
              <div class="form__label">
                Use 8 or more characters with a mix of uppercase and lowercase
                letters, numbers and symbols.<span>0/100</span>
              </div>
            </div>
          </div>
          <div class="form__footer">
            <button class="form__btn button">Get started</button>
            <div class="form__var">or</div>
            <button class="google-auth-btn button">
              <img
                class="google-auth-btn__svg"
                src="/icons/google.svg"
                alt="Google" />Continue with Google
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
