@use "fonts";

$text-font: "Proxima Nova", sans-serif;
$montserrat-font: "Montserrat", sans-serif;

$text-color: #919299;
$dark-color: #56597A;
$accent-color: #F78CB6;
$pale-color: #FFF1F9;
$white-color: #FFF;
$hover-color: #ff6ba6;