@use "sass:math";
@use "fonts";
@use "reset";
// @use "vars";
// @use "mixins";

@import "vars";
@import "mixins";

// @use "./partials/header.scss";
// @use "./partials/hero.scss";

// Settings ==========================================================================================================================================

// Min page width
$minWidth: 320;
// Width of the layout
$maxWidth: 1440;
// Width of the container
$maxWidthContainer: 1215;
// Total padding at the container
// (30 = 15px left + 15px right)
$containerPadding: 30;

// Type of adaptive:
// 1 = responsive (without breakpoints),
// 2 = adaptive (with breakpoints)
$responsiveType: 1;

// Width for working out the first break point
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);



@if ($responsiveType==1) {
    // responsive (without breakpoints)
    [class*="__container"] {
            @if ($maxWidthContainer>0) {
                max-width: rem($maxWidthContainer);
                box-sizing: content-box;
                margin: 0 auto;
            }
    
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
}  @else {
    // adaptive (with breakpoints)
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0) {
                    padding: 0 rem(math.div($containerPadding, 2));
                }
        }
        @media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}

    }
}

// [class*="__container"] {
//     max-width: 1215px;
//     margin: 0px auto;
//     padding: 0px 15px;
// }

// .container {
//     max-width: 1216px;
//     margin: 0px auto;
//     padding: 0px 15px;
// }



html{
height: 100%;
}

body {
    height: 100%;
    font-family: $default-font;
    color: $text-color;
    background: $white-color;
    .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
        main {
            flex: 1 1 auto;
        }
        // * {
        //     min-width: 0;
        // }
    }
    .menu-open & {
        overflow-y: hidden;
    }
}



.card-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    margin: 0 -15px;

    .card-item{
        padding: 0 15px;
        flex: 1 1 33.333%;
        min-width: 290px;
    }
}



@import "common";
@import "./partials/header.scss";
@import "./partials/hero.scss";
@import "./partials/register.scss";
@import "./partials/auth.scss";

